Gemfile*
Rakefile
LICENSE*
README*

lazy.min.js
*.json
*.mustache
*.node.js

lib/
site/share.html
spec/data/lines.txt
spec/node_benchmark.js
spec/node_spec.js
spec/support/comparison_suite.js
templates/

!site/lib
