body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 150%;
  font-weight: 300;
}

body > div {
  max-width: 1600px;
  margin: auto;
}

.important {
  background-color: #ff8;
  font-weight: bold;
  padding: 8px;
}

#workspace {
  position: relative;
}

#generator-wrapper {
  position: absolute;
  left: 0;
  right: calc(67% + 5px);
}

#sequence-wrapper {
  position: absolute;
  left: calc(33% + 5px);
  right: calc(33% + 5px);
}

#output-wrapper {
  position: absolute;
  left: calc(67% + 5px);
  right: 0;
}

.CodeMirror {
  font-size: 75%;
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror.error {
  background-color: #fee;
}

.CodeMirror.loading {
  opacity: 0.5;
  filter: alpha(opacity = 50);
}
