body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 150%;
  font-weight: 300;
}

.important {
  background-color: #ff8;
  padding: 8px;
}

#workspace {
  position: relative;
}

#generator-wrapper {
  position: absolute;
  left: 10px;
  right: calc(67% + 5px);
}

#sequence-wrapper {
  position: absolute;
  left: calc(33% + 5px);
  right: calc(33% + 5px);
}

#output-wrapper {
  position: absolute;
  left: calc(67% + 5px);
  right: 10px;
}

.CodeMirror {
  font-size: 75%;
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
