#chunks .chunk {
  position: relative;
  height: 64px;
  width: 64px;
  background-color: #888;
  font-family: monospace;
  font-size: 10px;
  padding: 8px;
  margin-right: 12px;
  margin-bottom: 12px;
  display: inline-block;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
