body {
  font-family: Helvetica, Arial, sans-serif;
}

#input {
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: calc(50% + 10px);

  overflow: auto;
}

#results {
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: calc(50% + 10px);
  right: 20px;

  overflow: auto;
}

#input > header {
  font-size: 200%;
}

#input > p {
  font-size: 150%;
}

#input > textarea {
  height: 400px;
  width: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#results > pre {
  background-color: #eee;
  padding: 10px;
  white-space: pre-wrap;
}

#results > pre.error {
  color: red;
}
