<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Lazy.js API Docs - {{name}}</title>
  <link rel="stylesheet" type="text/css" href="docs.css" />
  <script type="text/javascript" src="../site/lib/jquery.js"></script>
  <script type="text/javascript" src="../site/common.js"></script>
  <script type="text/javascript" src="../site/ga.js"></script>
  <script type="text/javascript" src="docs.js"></script>
</head>

<body id="top">
  <header>
    <h1><a href="../index.html">lazy.js</a></h1>
  </header>

  <article>
    <header>
      <h1>
        {{name}}
        <small><a href="index.html">Back</a></small>
      </h1>
    </header>

    <nav class="doc-list" data-sections="section.method">
      <ul>
        {{#constructor}}
        <li class="selected"><a href="#{{name}}">{{name}}</a> <small>(constructor)</small></li>
        {{/constructor}}

        {{#anyStaticMethods}}
        <li class="nav-header">Static methods</li>

        {{#staticMethods}}
        <li><a href="#{{name}}">{{name}}</a></li>
        {{/staticMethods}}
        {{/anyStaticMethods}}

        {{#anyInstanceMethods}}
        <li class="nav-header">Instance methods</li>

        {{#instanceMethods}}
        <li><a href="#{{name}}">{{name}}</a></li>
        {{/instanceMethods}}
        {{/anyInstanceMethods}}
      </ul>
    </nav>

    <section class="methods">
      {{#constructor}}
      <section id="{{name}}" class="constructor method">
        {{> method_template}}
      </section>
      {{/constructor}}

      {{#methods}}
      <section id="{{name}}" class="method" style="display: none;">
        {{> method_template}}
      </section>
      {{/methods}}
    </section>
  </article>
</body>

</html>
