<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Lazy.js API Docs</title>
  <link rel="stylesheet" type="text/css" href="docs.css" />
  <script type="text/javascript" src="../site/lib/jquery.js"></script>
  <script type="text/javascript" src="../site/common.js"></script>
  <script type="text/javascript" src="docs.js"></script>
</head>

<body>
  <header>
    <h1><a href="../index.html">lazy.js</a></h1>
  </header>

  <article>
    <header>
      <h1>API Docs</h1>
    </header>

    <nav class="doc-list">
      <ul>
        {{#classes}}
        <li><a href="{{name}}.html">{{name}}</a></li>
        {{/classes}}
      </ul>
    </nav>
  </article>
</body>

</html>
