/*= require fonts */
/*= require examples */
/*= require highlight */

body {
  margin: 0;
  padding: 20px;

  font-family: "Open Sans", sans-serif;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body > main > header {
  height: 60px;
  margin-top: 12px;
  background-color: #fff;
  border-bottom: 12px solid #eee;
}

body > main > header h1 {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  font-family: "Chewy", cursive;
  font-size: 72px;
  line-height: 60px;
  cursor: default;
  text-transform: lowercase;
}

body > main > header h1 a {
  color: #444;
  text-decoration: none;
}

body > main > header h1 a:hover {
  color: #000;
}

body > main > header h1 small {
  color: #777;
  font-family: "Open Sans", sans-serif;
  font-size: 50%;
}

h1, h2, h3 {
  color: #444;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  color: #456;
  text-decoration: none;
}

nav ul li.selected {
  border-bottom: 3px solid black;
}

nav ul li:hover {
  background-color: #eee;
}

nav ul li:hover a {
  color: #789;
}

section > h1,
section > h2,
section > h3 {
  font-weight: 300;
}

section > h1 {
  font-size: 40px;
  font-weight: 300;
}

section > h2 {
  font-size: 32px;
}

section > h3 {
  font-size: 24px;
}

pre, code {
  font-family: "Source Code Pro", monospace;
}

pre {
  font-size: 80%;
  padding: 10px;
}

code {
  color: #04b;
}

pre > code {
  overflow-x: auto;
}

h1 small,
h2 small {
  color: #777;
  font-size: 50%;
}

h1 small a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table thead tr:last-child {
  border-bottom: 1px solid black;
}

table th,
table td {
  padding: 0.5ex 0.5em;
  text-align: left;
  vertical-align: top;
}

table td > p,
table td > ul {
  /* Prevent Markdown-rendered <p>s from screwing up spacing */
  margin: 0;
}

.index > nav {
  position: fixed;
  top: 110px;
  bottom: 0;
  left: 0;
  width: 264px;
  padding: 0 20px;
  overflow: auto;
}

.index > nav ul li {
  display: block;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
}

.index > nav ul li.nav-header {
  margin-top: 12px;
  border-top: 1px solid black;
  font-weight: bold;
}

.index > nav ul li.nav-header:hover {
  background: none;
}

.index > nav ul li.selected {
  border-bottom: none;
  border-left: 3px solid #555;
}

.index > nav ul li.selected a {
  position: relative;
  left: -3px;
}

article {
  position: absolute;
  top: 110px;
  left: 300px;
  right: 0;
  padding: 0 40px;
  max-width: 1600px;
}

section.constructor {
  margin-top: 20px;
}

section.description h1,
section.description h2,
section.description h3,
section.constructor h1,
section.constructor h2,
section.constructor h3,
section.method h1,
section.method h2,
section.method h3 {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

section.method h1 .aliases {
  font-size: 40%;
  color: #888;
}

section.method h1 .aliases .alias:not(:last-child):after {
  content: ", ";
}

section.method h2 {
  font-size: 34px;
}

section.constructor table tbody tr:nth-child(odd) td,
section.method table tbody tr:nth-child(odd) td {
  background-color: #eee;
}

.signature table th:nth-child(1),
.signature table td:nth-child(1),
.signature table th:nth-child(2),
.signature table td:nth-child(2) {
  width: 25%;
}

.signature table td:nth-child(1),
.signature table td:nth-child(2),
.examples table td:nth-child(1),
.examples table td:nth-child(2) {
  font-family: "Source Code Pro", monospace;
}

.signature, .examples, .perf {
  margin-bottom: 24px;
}

.signature pre.function-source {
  display: none;
}

.examples table tr td {
  vertical-align: middle;

  transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}

.examples table tr td ul {
  list-style: none;
  padding-left: 0;
}

.examples table tr.success td:last-child,
.examples table tr.failure td:last-child {
  background-position: right;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-right: 32px;
}

.examples table tr.success td:last-child {
  background-image: url("../images/success.png");
}

.examples table tr.failure td:last-child {
  background-image: url("../images/failure.png");
}

.examples table tr.highlight td {
  color: #000;
  background-color: #ff8 !important;
}

.perf {
  position: relative;
}

.perf table {
  display: none;
}

.perf.loading table, .perf.loaded table {
  display: table;
}

.perf button {
  border: 2px solid black;
  border-radius: 8px;
  background-color: #f0f0f0;
  margin-top: 16px;
  padding: 8px;
  cursor: pointer;
}

.perf button:hover {
  background-color: #2f7ed8;
  color: #fff;
}

.perf.loading:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white url("../images/gears.gif") no-repeat center;
  opacity: 0.5;
}

.examples table th:last-child,
.examples table td:last-child,
.perf table th:last-child,
.perf table td:last-child {
  text-align: right;
}

#spec-failures {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;

  background-color: #400;
  color: #ffe;
  z-index: 1;

  opacity: 0.9;
  filter: alpha(opacity=90);
}

#spec-failures a {
  float: right;

  color: #ff8;
}

#spec-failures a:hover {
  color: #ff0;
}

#spec-failures:empty {
  display: none;
}

.CodeMirror {
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

#highlighting-progress {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 1ex 1em;

  background-color: #000;
  color: #fff;

  opacity: 0.8;
  filter: alpha(opacity=80);
}

#highlighting-progress:not(:empty):before {
  content: "Highlighting code examples - ";
}

#highlighting-progress:empty {
  display: none;
}
