<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Lazy.js API Docs - {{name}}</title>
  <link rel="stylesheet" type="text/css" href="docs.css" />
  <script type="text/javascript" src="../site/lib/jquery.js"></script>
  <script type="text/javascript" src="../site/common.js"></script>
</head>

<body id="top">
  <header>
    <h1><a href="../index.html">lazy.js</a></h1>
  </header>

  <article>
    <header>
      <h1>
        {{name}}
        <small><a href="index.html">Back</a></small>
      </h1>
    </header>

    <nav class="doc-list" data-sections="section.method">
      <ul>
        {{#constructor}}
        <li class="selected"><a href="#{{name}}">{{name}}</a> <small>(constructor)</small></li>
        {{/constructor}}

        {{#staticMethods}}
        <li class="nav-header">Static methods</li>

        {{#list}}
        <li><a href="#{{name}}">{{name}}</a></li>
        {{/list}}
        {{/staticMethods}}

        {{#instanceMethods}}
        <li class="nav-header">Instance methods</li>

        {{#list}}
        <li><a href="#{{name}}">{{name}}</a></li>
        {{/list}}
        {{/instanceMethods}}
      </ul>
    </nav>

    <section class="methods">
      {{#constructor}}
      <section id="{{name}}" class="constructor method">
        <header>
          <h2>
            {{name}}
            <small>{{longname}}</small>
          </h2>
          <p class="description">{{{description}}}</p>
        </header>

        {{#params}}
        <h3>Parameters</h3>
        <table class="params">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
          </tr>

          {{#list}}
          <tr>
            <td>{{name}}</td>
            <td>{{type}}</td>
            <td>{{{description}}}</td>
          </tr>
          {{/list}}
        </table>
        {{/params}}

        {{#returns}}
        <h3>Returns</h3>
        <table class="returns">
          <tr>
            <th>Type</th>
            <th>Description</th>
          </tr>

          {{#list}}
          <tr>
            <td>{{type}}</td>
            <td>{{{description}}}</td>
          </tr>
          {{/list}}
        </table>
        {{/returns}}

        {{#examples}}
        <h3>Example</h3>
        <pre><code class="javascript">{{.}}</code></pre>
        {{/examples}}
      </section>
      {{/constructor}}

      {{#methods}}
      <section id="{{name}}" class="method" style="display: none;">
        <header>
          <h2>
            {{name}}
            <small>{{longname}}</small>
          </h2>
          <p class="description">{{{description}}}</p>
        </header>

        {{#params}}
        <h3>Parameters</h3>
        <table class="params">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
          </tr>

          {{#list}}
          <tr>
            <td>{{name}}</td>
            <td>{{type}}</td>
            <td>{{{description}}}</td>
          </tr>
          {{/list}}
        </table>
        {{/params}}

        {{#returns}}
        <h3>Returns</h3>
        <table class="returns">
          <tr>
            <th>Type</th>
            <th>Description</th>
          </tr>

          {{#list}}
          <tr>
            <td>{{type}}</td>
            <td>{{{description}}}</td>
          </tr>
          {{/list}}
        </table>
        {{/returns}}

        {{#examples}}
        <h3>Example</h3>
        <pre><code class="javascript">{{.}}</code></pre>
        {{/examples}}
      </section>
      {{/methods}}
    </section>
  </article>
</body>

</html>
