@import url(../site/assets/pygments.css);
@import url(http://fonts.googleapis.com/css?family=Chewy|Open+Sans:700,400,300|Source+Code+Pro:700,400);

body {
  font-family: "Open Sans", sans-serif;
}

article > header {
  height: 60px;
  margin-top: 12px;
  background-color: #fff;
  border-bottom: 12px solid #eee;
}

article > header h1 {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  font-family: "Chewy", cursive;
  font-size: 72px;
  line-height: 60px;
  cursor: default;
}

article > header h1 a {
  color: #444;
  text-decoration: none;
}

article > header h1 a:hover {
  color: #000;
}

table {
  border-collapse: collapse;
}

table tr:first-child {
  border-bottom: 1px solid black;
}

table th,
table td {
  padding: 0.5ex 0.5em;
  text-align: left;
  vertical-align: top;
}
