@import url(../site/assets/pygments.css);
@import url(../site/assets/common.css);
@import url(http://fonts.googleapis.com/css?family=Chewy|Open+Sans:700,400,300|Source+Code+Pro:700,400);

body {
  margin: 0;
  padding: 20px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

article header h1 {
  font-size: 40px;
  font-weight: 300;
}

h1 small,
h2 small {
  color: #777;
  font-size: 50%;
}

h1 small a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

table tr:first-child {
  border-bottom: 1px solid black;
}

table th,
table td {
  padding: 0.5ex 0.5em;
  text-align: left;
  vertical-align: top;
}

article > header {
  position: absolute;
  top: 110px;
  left: 20px;
  right: 20px;
  height: 60px;
  border-bottom: 1px solid black;
}

article > header h1 {
  margin: 0;
}

nav.doc-list {
  position: absolute;
  top: 170px;
  left: 0;
  width: 284px;
  padding: 0 20px;
}

nav.doc-list ul li {
  display: block;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
}

nav.doc-list ul li.nav-header {
  margin-top: 12px;
  border-top: 1px solid black;
  font-weight: bold;
}

nav.doc-list ul li.nav-header:hover {
  background: none;
}

nav.doc-list ul li.selected {
  border-bottom: none;
  border-left: 3px solid #555;
}

nav.doc-list ul li.selected a {
  position: relative;
  left: -3px;
}

section.methods {
  position: absolute;
  top: 170px;
  left: 300px;
  right: 0;
  padding: 0 20px;
}

section.method h2 {
  font-size: 34px;
  font-weight: normal;
}

section.method .description h2 {
  font-size: 28px;
  font-weight: normal;
}

section.method table {
  width: 50%;
}

section.method table tr:nth-child(odd) td {
  background-color: #eee;
}

section.method table.params th,
section.method table.params td {
  width: 25%;
}

section.method table.params td:first-child {
  font-family: "Source Code Pro", monospace;
}

section.method table th:last-child,
section.method table td:last-child {
  width: 50%;
}
