<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Lazy.js API Docs</title>
  <link rel="stylesheet" type="text/css" href="docs/docs.css" />
</head>

<body>
  <article>
    <header>
      <h1><a href="../index.html">Lazy.js</a></h1>
    </header>

    <nav>
      <ul>
        {{#classes}}
        <li><a href="{{name}}.html">{{name}}</a></li>
        {{/classes}}
      </ul>
    </nav>
  </article>
</body>

</html>
